body{
    border: 2px solid black;
    padding: 5px;
}

header{
    background-color: #123563;
    color: white;
    margin: -5px -5px 20px -5px;
    padding: 2px;
}

footer{
    background-color: #123563;
    color: white;
    margin: 20px -5px -5px -5px;
    padding: 2px;
}

a{
    color: white;
    text-decoration: none;
    /*text-align: center;*/
}

a:hover{
    text-decoration: underline;
    color: aqua;
}

.foot-CR{
    /*text-align: center;*/
    margin-left: 10px;
}

.foot-text{
    display: inline-flex;
    margin-left: 45%;
}

.textbox-text{
    margin-right: 10px;
    display: inline;
}

form{
    background-color:  	#F3F3F3;
    padding: 10px;
    margin: 10px 20px 20px 20px;
}

p{
    font-family: serif;
}

.logo{
    float: right;
    width: 9em;
    height:40px;
    padding: 15px;
}

.table{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

}

textarea {
    max-width: 100%;
}
